@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap");
@import url("https://use.typekit.net/jak0aup.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-h1 {
    @apply font-normal text-marine-800 font-mundial text-4xl  capsize sm:text-5xl md:text-6xl md:leading-12;
  }
  .font-h2 {
    @apply font-normal text-marine-800 font-mundial text-3xl capsize sm:text-4xl md:text-5xl;
  }
  .font-h3 {
    @apply font-normal text-marine-800 font-mundial text-2xl capsize sm:text-3xl md:text-4xl;
  }
  .font-h4 {
    @apply font-medium text-marine-800 font-league text-xl capsize sm:text-2xl;
  }
  .font-h5 {
    @apply font-normal text-marine-800 font-league text-lg capsize md:text-xl;
  }
  .font-h6 {
    @apply font-medium text-marine-800 font-league text-sm capsize;
  }
  .font-body-l {
    @apply font-light text-gray-900 font-league text-xl leading-8 capsize;
  }
  .font-body-md {
    @apply font-light text-gray-900 font-league text-lg capsize;
  }
  .font-body-s {
    @apply font-light text-gray-900 font-league text-base capsize;
  }
  .font-body-xs {
    @apply font-light text-gray-900 font-league text-sm leading-4 capsize;
  }
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
video {
  max-width: 100%;
  max-height: 100%;
}

:root {
  font-family: "League Spartan", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--colors-marine-800);
  background-color: white;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide arrows in input[type="number"] for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Hide arrows in input[type="number"] for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#wp-api-content p {
  font-family: "League Spartan", "sans-serif";
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 40px;
  color: #0f172a;
}

#wp-api-content blockquote {
  text-align: center;
  position: relative;
}

#wp-api-content blockquote cite {
  font-family: "League Spartan", "sans-serif";
  font-weight: 300;
  font-size: 18px;
  color: #0f172a;
  position: absolute;
  bottom: 0;
  right: 28%;
}

#wp-api-content blockquote p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding-top: 40px;
  margin-bottom: 40px;
  background:
    url(./assets/quote-top.svg) left top,
    url(./assets/quote-bottom.svg) right bottom;
  background-repeat: no-repeat;
}

#wp-api-content h3 {
  font-family: "Mundial", "sans-serif";
  font-weight: 400;
  font-size: 24px;
  color: #0a113b;
  padding-bottom: 16px;
  padding-top: 28px;
}

@media (max-width: 640px) {
  #wp-api-content blockquote cite {
    bottom: -10%;
    right: 10%;
  }
  #wp-api-content blockquote p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  #wp-api-content blockquote p {
    margin-left: 20px;
    margin-right: 20px;
  }
  #wp-api-content h3 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  #wp-api-content blockquote p {
    margin-left: 40px;
    margin-right: 40px;
  }
  #wp-api-content h3 {
    font-size: 30px;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  #wp-api-content blockquote p {
    margin-left: 80px;
    margin-right: 80px;
  }
  #wp-api-content h3 {
    font-size: 30px;
  }
}
@media (min-width: 1920px) {
  #wp-api-content h3 {
    font-size: 36px;
  }
}
